<!DOCTYPE html>
<html>
<body>

<h2>Nginx Server running on ubuntu box</h2>
<p>Hello WORLD from my {{ ansible_hostname  }} and the server is based on {{ OS_DISTRIBUTION }}</p>

<img src="docker-compose.png" alt="docker-compose">

</body>
</html>